.git
.github
.idea
.vscode
node_modules
public/build
.phpunit.cache
.mithril
var
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/logs/*
*.sqlite
*.log
.env
.env.*
!.env.example
agent-transcripts
